.settings/
/out
*_m.*

#results
/examples/*/results/
/examples/*/*/results/
/examples/*/*/*/results/
*.vci
*.vec
*.sca
*.anf

*.tkenvrc
*.tkenvlog
/doc/doxy/
/doc/neddoc/
/doc/index.html
src/Makefile
*.so
*.dylib
*.dll
/tests/*/work/
*.UPDATED